

body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper_wide {
    width: 90%;
    margin: 0 auto;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper_skiny{
     width: 60%;
     margin: 0 auto;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

.button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    display: inline-block;
    min-width: 8.5rem;
}

.button_highlight {
    transition: background .4s ease-in-out;
    background: #d2674e;
   
   
}

.button_highlight:hover{
        background: #A9753D;
       
       
}
.button_white{
    transition: background .4s ease-in-out;
    background: #FFFFFF;
    color: #22292e;
  
   
}
.button_white:hover{
     background: #BFB5B5;
     color: #ffffff;
}